body {
    background-color: #33393f;
    margin: 1 1 1 1;
}

header {
    text-align: center;
    padding: 1 1 1 1;
}

nav {
    text-align: center;
    background-color: black;
    font-size: 20px;
    padding: 10px;
}

.pfp {
    max-width: 250px;
    max-height: 250px;
    box-shadow: 5px 10px 10px white;
}